<footer class="site-footer">
    <div class="site-footer-content">
        <section class="copyright">
            <a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
        </section>
        <nav class="site-footer-nav">
            {{!-- Social links partial --}}
            {{> social-links}}
        </nav>
    </div>
</footer>