<nav class="site-nav">
    <ul class="site-nav-ul">
        {{#if @site.navigation}}
            {{#foreach @site.navigation}}
                <li class="site-nav-item">
                    <a class="site-nav-link" href="{{url}}">{{label}}</a>
                </li>
            {{/foreach}}
        {{/if}}
    </ul>
</nav>