{{!< default}}

<main id="site-main" class="site-main outer">
    <div class="inner">
        <section class="error-message">
            <h1 class="error-code">404</h1>
            <h2 class="error-description">Halaman tidak ditemukan.</h2>
            <a class="error-link" href="{{@site.url}}">Kembali ke Beranda</a>
        </section>
    </div>
</main>