{{!< default}}

<main class="content" role="main">
    <div class="inner">
        <section class="search-form">
            <h1 class="search-title">Pencarian</h1>
            <p class="search-description">Ketik kata kunci di bawah ini untuk mencari artikel.</p>
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Cari artikel..." autocomplete="off">
            </form>
        </section>

        <section class="search-results">
            <h2 class="results-title">Hasil Pencarian</h2>
            <ul id="results-container">
                {{!-- Search results will be injected here by JavaScript --}}
            </ul>
        </section>

    </div>
</main>

{{!-- Search JavaScript --}}
<script src="{{asset "js/search.js"}}"></script>