{{!< default}}

<main class="content" role="main">
    <div class="inner">
        <section class="subscribe-form">
            <h1 class="subscribe-title">Berlangganan Newsletter Kami</h1>
            <p class="subscribe-description">Dapatkan artikel terbaru langsung di kotak masuk Anda.</p>
            <form data-members-form="subscribe" class="subscribe-form-form">
                <input data-members-email type="email" placeholder="Alamat email Anda" required="true" />
                <button type="submit">Berlangganan</button>
            </form>
            <div class="subscribe-success">
                <h3>Berhasil!</h3>
                <p>Silakan periksa email Anda untuk mengonfirmasi langganan.</p>
            </div>
        </section>
    </div>
</main>