{{!< default}} 

<main class="gh-main">
  <link rel="stylesheet" href="{{asset "css/gallery.css"}}">

  <div class="inner">
    <h1>{{title}}</h1>
    <p>{{custom_excerpt}}</p>

    <section class="gallery-grid">
      <figure>
        <img src="https://i.pinimg.com/736x/0e/f7/64/0ef7645d1c0bbe2488f03481eb7b8c63.jpg" alt="Gambar 1">
        <figcaption>rabbit</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/736x/b9/25/a7/b925a7f9ccb439e84edeee8d8247b3c5.jpg" alt="Gambar 2">
        <figcaption>Meong</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/736x/60/9c/1a/609c1aa80c2d174c83d7543b76515ecd.jpg" alt="Gambar 3">
        <figcaption>Warm Lights</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/736x/b0/0f/cc/b00fcc60489bf46ffcec6c94843da66c.jpg" alt="Gambar 4">
        <figcaption>kuromi</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/736x/14/a8/0d/14a80d2638c80fb329663f21dc8ecef1.jpg" alt="Gambar 5">
        <figcaption>entah lahh</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/736x/c1/c2/2d/c1c22d06a1a21ba98aecac01fc13a332.jpg" alt="Gambar 6">
        <figcaption>Sunset Mood</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/736x/a9/5e/f8/a95ef8b3bca0f168340335515df94a52.jpg" alt="Gambar 7">
        <figcaption>Waktu Santai</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/564x/ff/5a/14/ff5a147aa5cf67d2e3d3d8f7c91a8c07.jpg" alt="Gambar 8">
        <figcaption>Beruang Lucu</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/736x/09/8c/df/098cdf3667e08d70e699bb540b14e5bc.jpg" alt="Gambar 9">
        <figcaption>Self Healing</figcaption>
      </figure>
      <figure>
        <img src="https://i.pinimg.com/564x/d7/c9/74/d7c974f1c91ae5e13aa18d749d66c11b.jpg" alt="Gambar 9">
        <figcaption>Self Healing</figcaption>
      </figure>
    </section>
  </div>
</main>
